<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCW92IY3d-9c_AO4A9oMW-cFfC-WQ4wNQM</string>
	<key>GCM_SENDER_ID</key>
	<string>525771353527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lab3-swift.lab3-swift</string>
	<key>PROJECT_ID</key>
	<string>lab1flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>lab1flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:525771353527:ios:cebceed9a40774966c8c32</string>
</dict>
</plist>
